{% extends '::base.html.twig' %}

{% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cardio: Free One Page Template by Luka Cvetinovic</title>
    <meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
    <meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
    <meta name="author" content="Luka Cvetinovic for Codrops" />
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block favicons %}
    <!-- Favicons (created with http://realfavicongenerator.net/)-->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}

{% block body %}

        <nav class="navbar container-fluid  navbar-static-top navbar-inverse">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('admin') }}">Panel Administratora</a></li>
                        <li><a href="{{ path('help') }}">Pomoc</a></li>
                        <li><a href="{{ path('doc') }}">Dokumentacja</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {#// class="btn-danger"#}
                        <li><a href="{{ path('show_messages') }}">Wiadmości</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
        </nav>

    {% block content %}{% endblock %}



{% endblock %}


{% block stylesheets %}
    {% stylesheets
        'bundles/app/css/02_bootstrap.css'
    filter='cssrewrite' %}
    <link  rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/app/js/01_jquery-1.11.1.min.js'
        'bundles/app/js/03_bootstrap.min.js'
        'bundles/app/js/08_repair_navs.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}