{% extends '::layout.html.twig' %}

{% block body %}
	<div class="preloader">
		<img src="{{ asset('bundles/app/img/loader.gif') }}" alt="Preloader image">
	</div>
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="{{ asset('bundles/app/img/logo.png') }}" data-active-url="img/logo-active.png" alt=""></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
					<li><a href="#intro">Start</a></li>
					<li><a href="#services">Oferta</a></li>
					<li><a href="#contact">Adres</a></li>
					<li><a href="{{ path('contact') }}" class="btn btn-blue">Kontakt</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">{{ desc.nazwa_firmy }}</h3>
							<h1 class="white typed">{{ desc.naglowek }}</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-{% if other %}6{% else %}4{% endif %}">
					<div class="intro-table intro-table-1">
						<h5 class="white heading">Biura</h5>
						<div class="owl-carousel owl-schedule bottom">
							{% for o in office %}
								{% if (loop.index-1) is divisible by(3) %}
									<div class="item">
								{% endif %}
								<div class="schedule-row row">
									<div class="col-xs-3">
										<h5 class="regular white">{{ o.name }}</h5>
									</div>
									<div class="col-xs-9 text-right">
										<h5 class="white">{{ o.description }}a</h5>
									</div>
								</div>
								{% if loop.index is divisible by(3) or loop.last %}
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-md-{% if other %}6{% else %}4{% endif %}">
					<div class="intro-table intro-table-2">
						<h5 class="white heading">Place</h5>
						<div class="owl-testimonials bottom">
							{% for o in square %}
							<div class="item">
								<h4 class="white heading content">{{ o.description }}</h4>
								<h5 class="white heading light author">{{ o.name }}</h5>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-md-{% if other %}6{% else %}4{% endif %}">
					<div class="intro-table intro-table-3">
						<h5 class="white heading">Magazyny</h5>
						<div class="owl-carousel owl-schedule bottom">
							{% for o in warehouse %}
								{% if (loop.index-1) is divisible by(3) %}
									<div class="item">
								{% endif %}
								<div class="schedule-row row">
									<div class="col-xs-3">
										<h5 class="regular white">{{ o.name }}</h5>
									</div>
									<div class="col-xs-9 text-right">
										<h5 class="white">{{ o.description }}a</h5>
									</div>
								</div>
								{% if loop.index is divisible by(3) or loop.last %}
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				{% if other %}
				<div class="col-md-6">
					<div class="intro-table intro-table-4">
						<h5 class="white heading">Inne</h5>
						<div class="owl-testimonials bottom">
							{% for o in other %}
								<div class="item">
									<h4 class="white heading content">{{ o.description }}</h4>
									<h5 class="white heading light author">{{ o.name }}</h5>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
	<section id="services">
		<div class="container">
			<div class="row text-center title">
				<h2>Oferta</h2>
				<h4 class="light muted">{{ desc.opis_firmy }}</h4>
			</div>
			<div class="row services">
				<div class="col-md-{% if other %}3{% else %}4{% endif %}">
					<div class="service">
						<div class="icon-holder">
							<i class="fa-4x text-info fa fa-building-o"></i>
						</div>
						<h4 class="heading">Biura</h4>
						<p class="description">{{ desc.biura }}</p>
					</div>
				</div>
				<div class="col-md-{% if other %}3{% else %}4{% endif %}">
					<div class="service">
						<div class="icon-holder">
							<i class="fa-4x text-info fa fa-home"></i>
						</div>
						<h4 class="heading">Garaże i warsztaty</h4>
						<p class="description">{{ desc.garaze_warsztaty }}</p>
					</div>
				</div>
				<div class="col-md-{% if other %}3{% else %}4{% endif %}">
					<div class="service">
						<div class="icon-holder">
							<i class="fa-4x text-info fa fa-square-o"></i>
						</div>
						<h4 class="heading">Place</h4>
						<p class="description">{{ desc.place }}</p>
					</div>
				</div>
				{% if other %}
				<div class="col-md-3">
					<div class="service">
						<div class="icon-holder">
							<i class="fa-4x text-info fa fa-university"></i>
						</div>
						<h4 class="heading">Inne</h4>
						<p class="description">{{ desc.inne }}</p>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>

	<section class="section section-padded blue-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="owl-twitter owl-carousel">
						<div class="item text-center">
							<i class="icon fa fa-industry"></i>
							<h4 class="white light">{{ desc.tekst1 }}</h4>
							<h4 class="light-white light">{{ desc.tekst1_podpis }}</h4>
						</div>
						<div class="item text-center">
							<i class="icon fa fa-calendar-o"></i>
							<h4 class="white light">{{ desc.tekst2 }}</h4>
							<h4 class="light-white light">{{ desc.tekst2_podpis }}</h4>
						</div>
						<div class="item text-center">
							<i class="icon fa fa-line-chart"></i>
							<h4 class="white light">{{ desc.tekst3 }}</h4>
							<h4 class="light-white light">{{ desc.tekst3_podpis }}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer id="contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">Kontakt</h3>
					<h5 class="light regular light-white">Możesz śmiało do nas napisać.</h5>
					<a href="{{ path('contact') }}" class="btn btn-blue ripple trial-button">
						Formularz kontaktowy
					</a>
				</div>
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">Telefon{% if tel|length %}y{% endif %}</h3>
					<div class="row opening-hours">
						{% for t in tel %}
						<div class="col-sm-6 text-center-mobile">
							<h5 class="light-white light">{{ t.name }}</h5>
							<h3 class="regular white">{{ t.description }}</h3>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-sm-12">
					<h4 class="light regular light-white" style="display:inline">Nasz adres:</h4>
					<h4 class="white" style="display:inline">{{ desc.adres }}</h4>
				</div>
			</div>
			<div class="row bottom-footer text-center-mobile">
				<div class="col-sm-8">
					<p>&copy; {{ desc.dane_firmy }}</p>
				</div>
			</div>
		</div>
	</footer>

	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>
{% endblock %}