{#ok#}
{#{{ dump(content) }}#}

{% if content %}
<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <td>Nazwa</td>
        <td>Opis</td>
        {#<td>Edytuj</td>#}
        {#<td>Usuń</td>#}
    </tr>
    </thead>
    <tbody>
    {% for c in content %}
    <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.description }}</td>
        <td><a href="{{ path('update_table', {'kind': c.kind,'id':c.id}) }}" class="btn-sm btn-info">Edytuj</a>
            {#</td>#}
        {% if kind != 'desc' %}
        <td><a href="{{ path('delete_content',{'kind':c.kind,'id':c.id}) }}" class="btn-sm btn-danger">Usuń</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if kind != 'desc' %}
    <a href="{{ path('add_content',{'kind':kind}) }}" class="btn btn-block btn-info">Dodaj</a>
{% endif %}

