{% extends 'base.html.twig' %}

{% block body %}
    <h1>Others list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for other in others %}
            <tr>
                <td><a href="{{ path('crud_others_show', { 'id': other.id }) }}">{{ other.id }}</a></td>
                <td>{{ other.name }}</td>
                <td>{{ other.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('crud_others_show', { 'id': other.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('crud_others_edit', { 'id': other.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('crud_others_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
